.beranda{
    padding: 70px 103px;
}

.beranda-container{
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B9EA9;
    margin-bottom: 16px;
}

.info-pembinaan{
    font-family: 'Poppins', sans-serif;
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #194481;
    color: white;
    align-items: center;
}

.daftar{
    display: flex;
    padding: 70px 103px;
    background-color: #F5F5F5;
    align-items: center;
}

.label-daftarsegera, .icon-daftar-segera{
    width: 70%;
}

.label-daftarsegera, .icon-daftar-segera img{
    width: 100%;
}

.label-daftarsegera h3{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2.1rem;
}

.label-daftarsegera button{
    padding: 10px 30px;
    font-weight: 600;
    background-color: #194481;
    color: white;
}

/* fungsi */

.fungsi{
    width: 100%;
    padding: 70px 200px;
    position: relative;
    background-color: #F2FAFE;
}

.fungsi h3{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #0B9EA9;
    margin-bottom: 50px;
}

.carausel-item{
    display: flex;
}

.carausel-item .paragraf{
    margin-left: 20px;
    color: #3f4041;
}

.carausel-item .paragraf h4{
    font-weight: 700;
    font-size: 28px;
    color: #194481;
}

/* manfaat */
.manfaat{
    width: 100%;
    padding: 70px 200px;
    position: relative;
    background-color: white;
}

.manfaat h3{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #0B9EA9;
    margin-bottom: 50px;
}

.manfat-container ul{
    list-style: none;
    margin-left: 30px;
}

.manfat-container ul li{
    display: flex;
    margin-top: 20px;
}

.manfat-container ul li:first-child{
    margin-top: 0px;
}

.manfat-container ul li .manfaat-rounded{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: #F4F5F7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manfat-container ul li div p{
    margin: 0;
}

.manfat-container{
    display: flex;
}

.manfaat-title{
    font-size: 28px;
    font-weight: 700;
    color: #1D5973;
    margin-bottom: 30px;
}

.manfaat-article{
    width: 550px;
}



/* berita */
.berita{
    width: 100%;
    padding: 70px 200px;
    position: relative;
    background-color: #F2FAFE;
}

.berita h3{
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    color: #0B9EA9;
    margin-bottom: 50px;
}

.list-berita{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.list-berita li{
    width: 30%;
}

.list-berita li a{
    text-decoration: none;
}

.news-img{
    margin-bottom: 16px;
}

.news-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.img-title{
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    color: #184481;
    display: block;
}

.news-date{
    font-weight: 500;
    color: #adb5bd;
    font-size: 14px;
    line-height: 24px;
    display: block;
}

.news-headline{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: black;
}

@media screen and (max-width: 1024px){
    .carausel-item .paragraf{
        margin-left: 0;
        margin-top: 30px;
    }

    .carausel-item{
        align-items: center;
        flex-direction: column;
    }

    .fungsi{
        padding: 70px 120px;
    }
}



@media screen and (max-width: 980px){
    .info-pembinaan{
        display: block;
        padding: 70px 10%;
    } 
    .pembinaan-title{
        margin-bottom: 20px;
    }
    .statistic-info div{
        margin-top: 5px;
    }


    .daftar{
        padding: 70px 30px;
        flex-direction: column;
    }
    
    .icon-daftar-segera{
        order: 1;
        margin-bottom: 10px;
    }

    .label-daftarsegera{
        order: 2;
    }

    .label-daftarsegera, .icon-daftar-segera{
        width: 100%;
    }
}

.statistic-item .statistic-icon{
    margin-right: 10px;
}

.statistic-data p{
    margin: 0;
    font-size: 16px;
}

.statistic-data p:first-child{
    font-size: 28px;
}

.pembinaan-title h2{
    font-size: 48px;
    font-weight: 800;
}
.pembinaan-title a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}



