@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.header{
    height: 73px;
    width: 100%;
    display: flex;
    padding: 0 50px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}

.header .blog-logo{
    display: flex;
    align-items: center;
}
.header .blog-logo img{
    width: 120px;
}

.header .header-contents{
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
    align-items: center;
}


.header .header-contents li{
    padding: 0 10px;
    vertical-align: middle;
    line-height: 73px;
}

.header .header-contents li a{
    
    text-decoration: none;
    color: #373737;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-active{
    color: #194481 !important;
}

.spacing{
    padding: 0px;
    border-right: 1px solid black;
    height: 25px;
}

.header .sidebar-ctrl span{
 display: none;
 line-height: 73px; 
 border: 1px solid #194481;
 padding: 10px; 
 border-radius: 4px;
}

.login > a{
    border: 1px solid #194481; padding: 5px; border-radius: 4px;
}

@media screen and (max-width: 980px) {
    .header .header-contents{
        display: none;
        position: fixed;
        right: -170px;
        padding: 20px 30px;
        background-color: white;
        z-index: 100;
    }

    .spacing{
        display: none;
    }

    .login{
        text-align: center;
        line-height: 0 !important;
    }

    .login > a{
        display: inline-block;
        width: 100%;
        padding: 20px 15px;
    }

    .header .sidebar-ctrl span{
        display: unset;
    }
}

.popup-search{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 200;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.popup-search .search-head{
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #d3d5d6;
}

.search-head span{
    cursor: pointer;
    display: inline-block;
    width: 15px;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    padding: 0;
    border-radius: 10px;
    border: 1px solid black;
}

.search-head input{
    margin: 0 10px;
    width: 40vw;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 12px;
}